@import url("https://fonts.googleapis.com/css2?family=Sanchez&display=swap");

#destination .container {
  width: 90%;
}

#destination .title-destination {
  max-width: 50%;
  margin: 0 auto;
  background: white;
  text-align: center;
}

#destination .title-destination h1 {
  font-size: 54px;
  font-family: playlist-script, Arial, Helvetica, sans-serif;
}

#destination .title-destination p {
  font-family: Sanchez, Arial, Helvetica, sans-serif;
}

#destination-choices .card .card-image img {
  height: 400px;
  object-fit: cover;
  object-position: center;
}

#destination-choices .card .card-title {
  font-family: Sanchez, Arial, Helvetica, sans-serif;
  color: grey;
  font-weight: bold;
  text-align: center;
}

#destination-choices .card,
#destination-list-item .card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#destination-list h1 {
  font-size: 48px;
  font-family: playlist-script, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0 0 65px 0;
}

#place-item {
  position: relative;
  margin-bottom: 50px;
}
#destination-list #place-item h2 {
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 25%;
  color: grey;
}

#destination-list #place-item img {
  width: 100%;
  height: 300px;
  padding-left: 50px;
  object-fit: cover;
  object-position: center;
}

.card .card-image img {
  cursor: pointer;
}

@media (max-width: 480px) {
  #destination-list-item destination-item:nth-child(odd) #place-item h2 {
    margin-left: -28%;
  }
  #destination-list-item destination-item:nth-child(even) #place-item h2 {
    margin-left: -20%;
  }

  #destination-list-item destination-item:nth-child(6) #place-item h2 {
    margin-left: -16%;
  }

  #destination-list-item destination-item:nth-child(5) #place-item h2 {
    margin-left: -23%;
  }
}

@media (min-width: 768px) {
  #destination-choices .card .card-image img {
    height: 250px;
  }

  #destination-choices .card .card-title {
    text-align: left;
    font-size: 18px;
  }

  #destination .title-destination h1 {
    font-size: 45px;
  }

  #destination-list #place-item img {
    height: 160px;
    padding-left: 60px;
  }

  #destination-list #place-item h2 {
    margin-left: -15%;
    font-size: 35px;
  }

  #place-item {
    margin-bottom: 60px;
  }

  #destination-list h1 {
    text-align: left;
  }

  #destination-list-item destination-item:nth-child(5) #place-item h2,
  #destination-list-item destination-item:nth-child(even) #place-item h2 {
    margin-left: -10%;
  }

  #destination-list-item destination-item:nth-child(6) #place-item h2 {
    margin-left: -8%;
  }
}

@media (min-width: 1024px) {
  #destination-choices .card .card-image img {
    height: 300px;
  }

  #destination .title-destination h1 {
    font-size: 54px;
  }

  #destination-list #place-item h2 {
    margin-left: -10%;
  }

  #destination-choices .card .card-title {
    font-size: 24px;
  }

  #destination-list #place-item img {
    height: 200px;
  }
  #destination-list-item destination-item:nth-child(even) #place-item h2 {
    margin-left: -5%;
  }

  #destination-list-item destination-item:nth-child(6) #place-item h2 {
    margin-left: -3%;
  }

  #destination-list-item destination-item:nth-child(5) #place-item h2 {
    margin-left: -7%;
  }
}

@media (min-width: 1200px) {
  #destination-choices .card .card-image img {
    height: 400px;
  }

  #destination-list #place-item img {
    height: 300px;
  }
  #destination-list #place-item h2 {
    font-size: 55px;
  }

  #destination-list #place-item img {
    padding-left: 100px;
  }

  #place-item {
    margin-bottom: 90px;
  }

  #destination-list-item destination-item:nth-child(2) #place-item h2 {
    margin-left: -1%;
  }
}
