@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@font-face {
  font-family: league-spartan;
  src: url("../../fonts/leaguespartan-bold.woff");
}

h1 {
  font-family: league-spartan, Arial, Helvetica, sans-serif;
}

.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

#home-header {
  background: white;
  position: relative;
}

#home-header img {
  width: 100%;
}

#home-header .title-header {
  position: absolute;
  top: 10%;
  width: 30%;
}

#home-header .title-header h1 {
  font-size: 36px;
}

#home-header .title-header p {
  font-family: "Scheherazade", serif;
  font-size: 18px;
}

#home-intro {
  position: absolute;
  top: 25%;
  width: 70%;
}

#home-intro .card {
  border-radius: 25px;
}

#home-intro .card-title {
  font-family: "Fredoka One", cursive;
  text-align: center;
}

#home-featured {
  position: relative;
  background-image: url("../../images/HOME-BG-2.png");
  background-size: 100%;
  background-position: left;
  height: 720px;
  background-repeat: no-repeat;
  color: black;
}

#home-menu-title {
  top: 85%;
  position: absolute;
}

#home-menu-title h1 {
  font-size: 25px;
}
#home-menu-title p {
  font-size: 15px;
}

#home-menu-item {
  position: absolute;
  top: 155%;
}

#home-menu-item .card {
  position: relative;
  width: 220px;
  height: 220px;
  text-align: center;
  border-radius: 50%;
  background: #ff66c4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #03989e,
    #ff66c4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #03989e,
    #ff66c4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Hammersmith One", sans-serif;
}

#home-menu-item .card > .card-content {
  top: 50%;
  position: absolute;
}

#home-menu-item .card-content h1 {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
  #home-header img {
    height: 480px;
    object-fit: cover;
    object-position: left;
  }

  #home-header .title-header {
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 768px) {
  #home-header .title-header h1 {
    font-size: 54px;
  }

  #home-header .title-header p {
    font-size: 20px;
  }

  #home-intro {
    width: 95%;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #home-menu-title {
    top: 35%;
  }

  #home-menu-item {
    top: 65%;
    width: 95%;
  }
}

/* Laptop */

@media (min-width: 1024px) {
  #home-header .title-header h1 {
    font-size: 72px;
  }

  #home-header .title-header p {
    font-size: 30px;
  }

  #home-intro {
    width: 70%;
    top: 10%;
  }

  #home-menu-item {
    top: 65%;
    width: 80%;
  }

  #home-menu-title {
    top: 35%;
    text-align: center;
  }

  #home-menu-title h1 {
    font-size: 32px;
  }
  #home-menu-title p {
    line-height: 0.2;
    font-size: 15px;
  }
}

/* Ekstra large screen */

@media (min-width: 1200px) {
  #home-header .title-header h1 {
    font-size: 72px;
  }

  #home-header .title-header p {
    font-size: 35px;
  }

  #home-intro {
    width: 50%;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
