@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

#tips h1 {
  text-align: center;
  padding: 40px;
}

.tips-item {
  position: relative;
  margin-bottom: 150px;
}

#tips .tips-item img {
  width: 500px;
}

#tips .tips-item h1 {
  font-family: "Yeseva One", cursive;
  font-size: 25px;
  margin: 0;
  padding: 60px 0 0 15px;
  text-align: left;
}

#tips .tips-item span {
  position: absolute;
  z-index: -1;
  font-size: 150px;
  color: lightgray;
  margin-top: -7%;
  font-weight: bold;
  padding-left: 15px;
}

#tips .tips-item p {
  font-size: 15px;
  text-align: justify;
  width: 80%;
  padding-left: 15px;
}
