#travel-kit .container {
  width: 90%;
}

#travel-kit-header {
  background: white;
  position: relative;
}

/* Travel Kit Header */
#travel-kit-header img {
  width: 100%;
}

#travel-kit-header .title-header {
  top: 25%;
  width: 40%;
}

#travel-kit-header .title-header h1 {
  font-size: 32px;
}

/* Travel Kit Headline */

#travel-kit h2 {
  font-family: playlist-script, Arial, Helvetica, sans-serif;
}

#travel-kit #travel-list h2 {
  font-size: 24px;
}

#travel-kit-headline h3 {
  font-family: glacial-indifferent, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Travel Kit Items */
#travel-kit-items {
  text-align: center;
  padding-bottom: 0;
}
#travel-kit-items img {
  height: 250px;
}

/* Travel Kit Item */
.travel-kit-item {
  position: relative;
}

.travel-kit-item h4 {
  position: absolute;
  font-family: playlist-script, Arial, Helvetica, sans-serif;
  font-size: 32px;
  background: teal;
  color: white;
  padding: 20px;
}

.travel-kit-item:nth-child(2) h4,
.travel-kit-item:nth-child(2) p {
  background: rgb(228, 181, 52);
}

.travel-kit-item:nth-child(3) h4,
.travel-kit-item:nth-child(3) p {
  background: rgb(60, 175, 131);
}

.travel-kit-item p {
  position: absolute;
  width: 200px;
  background: teal;
  color: white;
  padding: 10px;
  margin-top: 35%;
  margin-left: 1%;
}

/* Travel Kit List */
#travel-kit-list .title h1 {
  font-size: 36px;
}

#travel-list .card {
  border-radius: 5px;
  height: 370px;
  border-top-style: groove;
  border-color: teal;
  background: whitesmoke;
}

#travel-list list-item:nth-child(1) .card,
#travel-list list-item:nth-child(3) .card,
#travel-list list-item:nth-child(6) .card,
#travel-list list-item:nth-child(8) .card {
  border-color: palevioletred;
}

#travel-list .card .card-content {
  text-align: center;
  padding: 15px;
}

#travel-kit #travel-list .card .card-content h2 {
  font-size: 35px;
  padding-bottom: 20px;
  border-bottom: 1px dotted teal;
}

list-item ul li {
  font-family: glacial-indifferent, Arial, Helvetica, sans-serif;
  font-size: 20px;
}
@media (max-width: 480px) {
  #travel-kit-header .title-header {
    top: 15%;
    left: 20px;
  }

  #travel-kit-header img {
    height: 480px;
    object-fit: cover;
    object-position: left;
  }

  #travel-kit-list .title h1,
  #travel-kit-headline h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  #travel-kit-header .title-header h1 {
    font-size: 40px;
  }
  #travel-kit-header .title-header {
    right: 5%;
  }

  #travel-kit h2 {
    font-size: 40px;
  }
  #travel-kit-headline {
    margin-bottom: 30px;
  }

  .travel-kit-item p {
    margin-top: 20%;
    margin-left: 2%;
    width: 180px;
    width: 200px;
  }

  #travel-kit-items img {
    height: 180px;
  }

  #travel-list .card {
    height: 300px;
  }

  #travel-kit #travel-list .card .card-content h2 {
    font-size: 25px;
    padding-bottom: 10px;
    border-bottom: 1px dotted teal;
  }

  list-item ul li {
    font-size: 15px;
  }

  #travel-kit-items {
    padding-bottom: 50px;
  }
}

@media (min-width: 1024px) {
  #travel#travel-kit-items {
    padding-bottom: 50px;
  }
  -kit-header .title-header h1 {
    font-size: 54px;
  }

  #travel-kit-headline {
    margin-bottom: 50px;
  }

  #travel-kit-items img {
    height: 250px;
  }

  .travel-kit-item p {
    margin-left: 4%;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  #travel-kit-header .title-header h1 {
    font-size: 60px;
  }
  #travel-kit-headline {
    margin-bottom: 50px;
  }

  #travel-kit-items img {
    height: 350px;
  }

  .travel-kit-item p {
    width: 300px;
  }
}
