<div id="destination">
  <div class="destination-header">
    <div class="container">
      <div class="title-header">
        <h1>Best Destination.</h1>
        <P>Focus on having a good time</P>
      </div>
    </div>
    <img src="src/images/destination-banner.png" />
  </div>
  <div class="container">
    <div class="place-list">
      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/australia.jpg" />
          <span class="card-title activator">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/bangkok.jpg" />
          <span class="card-title activator">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>

      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/british.jpg" />
          <span class="card-title activator">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>

      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/dubai.jpg" />
          <span class="card-title activator">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/yerevan.jpg" />
          <span class="card-title activator">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>

      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/france.jpg" />
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/galway.jpg" />
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
      <div class="card materialboxed">
        <div class="card-image waves-effect waves-block waves-light">
          <img src="src/images/place/nikko.jpg" />
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"
            >Card Title<i class="material-icons right">x</i></span
          >
          <p>
            Here is some more information about this product that is only
            revealed once clicked on.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
