<div id="home">
  <div id="home-header">
    <div class="container">
      <div class="title-header">
        <h1>PlanS, Prepare & Travel.</h1>
        <P>Focus on having a good time</P>
      </div>
    </div>
    <img src="../src/images/HOME-BG.png" />
  </div>
  <div id="home-featured">
    <div id="home-intro" class="row center"></div>
    <div id="home-menu-title" class="center">
      <h1>What You Have To Prepare</h1>
      <p>here are some option that you can find in this web app</p>
    </div>
    <div id="home-menu-item" class="row center"></div>
  </div>
</div>
