<div id="tips">
  <h1>5 Alternative Travel Tips</h1>
  <div id="tips-list" class="row">
    <div class="tips-item col s12 m12 l12">
      <div class="col s12 m6 l6 img-center">
        <img src="src/images/travel-tips-01.png" />
      </div>
      <div class="col s12 m6 l6">
        <span>01</span>
        <h1>Photograph Everything</h1>
        <p>
          IProof of the condition of your luggage when you dropped it off at the
          airport.It might not get you your money back, but it’s a start. And it
          certainly will stop hire companies charging you for damage they didn’t
          notice in the first place or help you to travel when the tickets have
          been lost.And what if you lose your phone?Make sure the photos are
          backed up to a secure cloud so you can access them from anywhere if
          needed.
        </p>
      </div>
    </div>
    <div class="tips-item col s12 m12 l12">
      <div class="col s12 m6 l6 img-center">
        <img src="src/images/travel-tips-02.png" />
      </div>
      <div class="col s12 m6 l6">
        <span>02</span>
        <h1>Unpack as Little as Possible</h1>
        <p>
          IProof of the condition of your luggage when you dropped it off at the
          airport.It might not get you your money back, but it’s a start. And it
          certainly will stop hire companies charging you for damage they didn’t
          notice in the first place or help you to travel when the tickets have
          been lost.And what if you lose your phone?Make sure the photos are
          backed up to a secure cloud so you can access them from anywhere if
          needed.
        </p>
      </div>
    </div>
  </div>
</div>
