<div id="travel-kit">
  <div id="travel-kit-header">
    <div class="container">
      <div class="title-header">
        <h1>Travel Packing List.</h1>
        <p>Don't Forget Necessary Things</p>
      </div>
    </div>
    <img src="src/images/travel-kit-banner.png" />
  </div>
  <div id="travel-kit-headline">
    <div class="container">
      <div class="row">
        <div class="col s12 m3 l3">
          <h2>Traveling is Journey</h2>
        </div>
        <div class="col s12 m4 l4">
          <h3>
            Now that your eyes are open, make the sun jealous with your burning
            passion to start the day. Make the sun jealous or stay in bed.
          </h3>
        </div>
        <div class="col s12 m5 l5">
          <h3>
            Now that your eyes are open, make the sun jealous with your burning
            passion to start the day. Make the sun jealous or stay in bed.
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div id="travel-kit-items">
    <div class="container">
      <div class="row">
        <div class="travel-kit-item">
          <div class="col s12 m4 l4">
            <h4>Essensial</h4>
            <p>
              Now that your eyes are open, make the sun jealous with your
              burning passion to start the day. Make the sun jealous or stay in
              bed.
            </p>
            <img src="src/images/travel-kit-item-01.png" />
          </div>
        </div>
        <div class="travel-kit-item">
          <div class="col s12 m4 l4">
            <h4>Gadgets</h4>
            <p>
              Now that your eyes are open, make the sun jealous with your
              burning passion to start the day. Make the sun jealous or stay in
              bed.
            </p>
            <img src="src/images/travel-kit-item-02.png" />
          </div>
        </div>
        <div class="travel-kit-item">
          <div class="col s12 m4 l4">
            <h4>Personal</h4>
            <p>
              Now that your eyes are open, make the sun jealous with your
              burning passion to start the day. Make the sun jealous or stay in
              bed.
            </p>
            <img src="src/images/travel-kit-item-03.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="travel-kit-list">
    <div class="container">
      <div class="title">
        <h1>Travel List Kit</h1>
      </div>
      <div id="travel-list" class="row"></div>
    </div>
  </div>
</div>
