<div id="travel-kit">
  <div id="travel-kit-header">
    <div class="container">
      <div class="title-header">
        <h1>Travel Packing List.</h1>
        <p>Planning is almost as fun as the trip itself</p>
      </div>
    </div>
    <img src="src/images/travel-kit-banner.png" />
  </div>
  <div id="travel-kit-headline">
    <div class="container">
      <div class="row">
        <div class="col s12 m3 l3">
          <h2>Plan Before You Leave</h2>
        </div>
        <div class="col s12 m4 l4">
          <h3>
            Being a traveller you would definitely like to plan for your
            vacation and about your dream destination beforehand.
          </h3>
        </div>
        <div class="col s12 m5 l5">
          <h3>
            Planning in advance is the best way to save time and make the
            experience unforgettable. From packing your bags to get visas,
            innumerable things are there. If you are wondering about all these,
            relax… we have prepared a list below, only for you.
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div id="travel-kit-intro" class="container row"></div>
  <div id="travel-kit-list">
    <div class="container">
      <div class="title">
        <h1>Travel List Kit</h1>
      </div>
      <div id="travel-list" class="row"></div>
    </div>
  </div>
</div>
