<div id="home">
  <img src="../src/images/HOME-BG.png" />
  <div class="container">
    <div class="title-header">
      <h1>Plan, Prepare & Travel.</h1>
      <P>Allow you to focus having a good time</P>
    </div>
  </div>
  <div id="home-about" class="row">
    <!-- <div class="row"> -->
    <!-- <div class="col s12 m4">
        <div class="card  cyan darken-2">
          <div class="card-content white-text">
            <span class="card-title">Don't forget the Essential Thing</span>
            <p>
              Choose Specific Items for Your Destination.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card  cyan darken-2">
          <div class="card-content white-text">
            <span class="card-title">Carry As Little With You As Possible</span>
            <p>
              Lightweight Luggage makes the trip easier.
            </p>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card  cyan darken-2">
          <div class="card-content white-text">
            <span class="card-title">Avoid The Most Mistake Carrying</span>
            <p>
              Eliminate Unnecessary Problem
            </p>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>
