<div>
  <div id="home-header">
    <div class="container">
      <div class="title-header">
        <h1>Plan, Prepare & Travel.</h1>
        <P>Focus on having a good time</P>
      </div>
    </div>
    <img src="../src/images/HOME-BG.png" />
  </div>

  <div id="home-featured">
    <div id="home-about" class="row center"></div>
    <div id="home-menu-title" class="center">
      <h1>What You Have To Prepare</h1>
      <p>here are some option that you can find in this web app</p>
    </div>
    <div id="home-menu-item" class="row center">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content white-text center">
            <h1>List Travel Kit</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content white-text center">
            <h1>List Travel Kit</h1>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content white-text center">
            <h1>List Travel Kit</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
