@import "./components/navbar.css";
@import "./components/home.css";
@import "./components/travel-kit.css";
@import "./components/destination.css";
@import "./components/tips.css";

* {
  box-sizing: border-box;
}

.title-header {
  position: absolute;
  top: 10%;
  width: 35%;
}
.page-footer {
  background: #03989e; /* fallback for old browsers */
  font-family: "Hammersmith One", sans-serif;
}
